$main-light: #F7DFDE;
$main-shaded: #BE8C92;
$main-dark: #7E696C;

.footer{
    background: $main-light;
    width: 99vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 2rem;

    &__container{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-around;
        width: 800px;

        @media (min-width: 780px) {
            flex-direction: row;
        }
    }

    &__logo{

        @media (max-width: 780px) {
            margin-top: 1rem;
        }

        &-img{
            height: 70px;
        }

        &-container{
            border: 1px dashed $main-dark;
        }

    }

    &__social{

        &-container{
            display: flex;
            flex-direction: row;
            align-items: center;
            color: $main-dark;

            @media (max-width: 780px) {
                margin-top: 1.5rem;
            }
        }

        &-wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
            color: $main-dark;
            font-weight: 300;

        }

        &-icon{
            color: $main-dark;
            align-items: center;
            margin-bottom: 0.7rem;
            margin-right: 0.3rem;
            transform: scale(1.4);
            margin: 0.7rem;

        }
    }

    &__links{
        display: flex;
        flex-direction: column;

        &-li{

        }
    }

    &__copyright{
        margin-bottom: 0.5rem;

        &-small{
            padding: 0.5rem auto;
        }

    }

    &__hr{
        width: 50vh;
        max-width: 400px;
        background: $main-dark;
        display: block;
        height: 1px;
        border: 0;
        border-top: transparent;
        padding: 0;

        @media (min-width: 780px) {
            width: 90vh;
            max-width: 90vh;
        }
    }
}